.lists {
      text-decoration: none;
    color: #333333;
    background: #F7F7F7;
    border: 1px solid #dedfe0;
    margin: 1.6rem 0;
    padding: 1.6rem;
    display: block;
    transition: background .3s ease;
}

.lists:hover {
  background: #eeeeee;
}

.title {
  font-size: 1.8rem;
    margin-bottom: .4rem;
}

.subtitle {
  color: #666;
    font-size: 1.4rem;
    font-weight: 300;
    font-style: italic;
}