.relative {
  position: relative;
}

.input {
  border: 1px solid #dedfe0;
  border-radius: 5px;
  padding: 2px 8px;
  color: #3f3f3f;
  margin-right: 10px;
  height: 30px;
  outline: none;
}

.input:focus ~ label {
  top: -50%;
  font-size: 12px; 
}

.select{
  height: 30px;
}

